[user]
  name = Adam DiCarlo
  email = adam.dicarlo@gmail.com
[credential]
  helper = osxkeychain
[pull]
  rebase = preserve
[push]
  default = current
[alias]
  undeployed = log production..latest
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  excludesfile = ~/.gitignore
  editor = vim
[merge]
  tool = meld
[url "git@github.com:"]
  insteadOf = gh:
[mergetool "meld"]
  cmd = meld $LOCAL $BASE $REMOTE --output=$MERGED
  trustExitCode = true
[mergetool "fugitive"]
  cmd = mvim -f -c \"Gdiff\" \"$MERGED\"
[mergetool]
  keepBackup = false
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
