#!/usr/sh
export QT_QPA_PLATFORMTHEME="qt5ct"
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export GDK_SCALE=1
export GDK_DPI_SCALE=1

# Enable natural scrolling on all pointer devices
# Set speed for Logitech MX Vertical Mouse.
while IFS= read -r line; do
  id=$(echo "$line" | sd '.*id=(\d+).*' '$1')

  if echo "$line" | grep -q 'MX Vertical'; then
    echo "Setting accel speed for $id"
    xinput set-prop "$id" "libinput Accel Speed" 0.5
  fi

  if xinput list-props "$id" | grep -q 'libinput Natural Scrolling'; then
    echo "Enabling natural scrolling for $id"
    xinput set-prop "$id" "libinput Natural Scrolling Enabled" 1
  fi
done <<< "$(xinput list | grep pointer)"

xset r rate 200 60

# turn off bell
xset b off

# Swap left Windows and Alt keys for a Mac-like keyboard layout.
#
# Where do these "altwin:swap_lalt_lwin" and "ctrl:nocaps" strings come from?
# They, and a bazillion others, are listed in `man xkeyboard-config`.
setxkbmap -layout us -variant colemak -option '' -option altwin:swap_lalt_lwin -option ctrl:nocaps
