/* $Id: migrate_ui.css,v 1.1.4.3 2010/06/03 15:03:19 mikeryan Exp $ */

table.migrate-dashboard tr.migrate-running {
  background-color: #CFC;
}

.migrate-running {
  background-color: #CFC;
}

.migrate-option-separator {
  margin-bottom:0.2em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #aaa;
}

td.migrate-error {
  background: #ffc9c9;
}
